@import url("./assets/font/stylesheet.css");
@import "~swiper/swiper-bundle";
.topnav {
    overflow: hidden;
    background-color: rgb(255, 158, 158);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        &:hover {
            background-color: rgb(255, 112, 112);
            color: #f2f2f2;
            text-decoration: none;
        }
        .top-name {
            font-family: "Itim";
            font-size: 23px;
            letter-spacing: 0.4px;
            word-spacing: 2px;
            font-weight: 700;
            text-decoration: none solid rgb(68, 68, 68);
            font-style: normal;
            font-variant: small-caps;
            text-transform: capitalize;

            display: block;
            color: white;
            text-align: center;
            padding: 9px 100px;
        }
    }
    a.active {
        background-color: rgb(255, 140, 140);
        color: white;
    }
    .icon {
        display: none;
    }
}

.dropdown {
    float: right;
    overflow: hidden;
    .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }
    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-top: 56px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a {
        float: none;
        color: black;
        padding: 5px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        &:hover {
            background-color: rgb(255, 112, 112);
        }
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        a {
            &:not(:first-child) {
                display: none;
            }
        }
        a.icon {
            float: right;
            display: block;
        }
    }
    .topnav.responsive {
        position: relative;
        .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        a {
            float: none;
            display: block;
            text-align: left;
        }
    }
    .login-modal {
    }
}

.topnavSub {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    margin-top: 52px;
    border-bottom: solid #ececec;
    a {
        float: left;
        display: block;
        color: rgb(94, 94, 94);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14px;
        &:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(94, 94, 94);
            text-decoration: none;
        }
        .top-name {
            font-family: "Itim";
            font-size: 23px;
            letter-spacing: 0.4px;
            word-spacing: 2px;
            font-weight: 700;
            text-decoration: none solid rgb(68, 68, 68);
            font-style: normal;
            font-variant: small-caps;
            text-transform: capitalize;

            display: block;
            color: white;
            text-align: center;
            padding: 9px 100px;
        }
    }
    a.active {
        background-color: rgb(255, 255, 255);
        color: rgb(94, 94, 94);
    }
    .icon {
        display: none;
    }
}
.menu-top-register {
    background-color: rgb(255, 137, 137);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #c7ceff;
}
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px 0px #f0f0f0;
}

.contain-1 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px 1px rgb(216, 216, 216);
    box-shadow: 0px 0px 0px 1px rgb(216, 216, 216);
}

hr {
    margin-top: 3px;
}

.btn-facebook {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    background: #4267b2;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    &:hover {
        background: #4c73c0;
        text-decoration: none;
    }
}

.btn-line {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    background: #00b900;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    &:hover {
        background: #04c704;
        text-decoration: none;
    }
}

.btn-google {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    background: #e9b200;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    &:hover {
        background: #eebd1c;
        text-decoration: none;
    }
}

.close-modal {
    float: right;
    margin-top: -17px;
    margin-right: -10px;
    font-size: 1.7rem;
    color: red;
}

.crop-image-tools {
    top: 0;
    left: 15px;
    position: absolute;
    z-index: 999998;
    width: 97%;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    color: #FFF;
}
